:root{
    --red: #A6051A;
    --black: #111111;
    --yellow: #FFEB00;
    --textFont: 'Fugaz One', cursive;
    
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--black, black);
}
.container{
    display: flex;
}
.background{
    width: 500px;
}

.logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    background: rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 125px;
    color: var(--red, red);
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

.logo{
    height: 70px;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    flex-grow: 1;
    color: var(--red, red);
    font-family: var(--textFont, sans-serif);
}

.upperText{
    margin-left: 50px;
    width: 700px;
    font-size: 30px;
}
.bottomText{
    margin-top: 150px;
    margin-left: 50px;
    width: 700px;
    font-size: 15px;
}
.whiteBorder{
    color: white;
    text-shadow: 1px 1px white;
}


.formContainer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 250px;
    margin-left: 50px;
    font-size: 30px;
}
.formContainer form{
    display: flex;
    flex-direction: row;
    gap: 50px;
   
}
.formContainer button{
    position: absolute;
    top: 625px;
    left: 550px;
}


.leftForm, .rightForm{
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.firstName, .email, .password, .lastName, .phoneNumber, .confirmPassword{
    display: flex;
    flex-direction: column;
}

button[type=submit]{
    background-color: var(--red, red);
    color: white;
    border-radius: 10%;
    box-shadow: 0px 0px 25px var(--red, red);
    width: 200px;
    height: 60px;
    font-family: var(--textFont, sans-serif);
}
input[type=text], input[type=email],
input[type=password]{
    border: 1px solid var(--red, red);
    box-shadow: 0px 0px 15px white;
    height: 25px;
}
input[type=text]:focus, input[type=email]:focus, 
input[type=password]:focus{
    
    border: 5px solid var(--red, red);
}

